.primeiroPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-Esperar.png);
}

.segundoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-Loop.png);
}

.terceiroPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-MotorAntiHorário.png);
}

.quartoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-MotorHorário.png);
}

.quintoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-Play.png);
}

.sextoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-PotênciaDoMotor.png);
}

.setimoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-SensorDeInclinaçãoPlano.png);
}

.oitavoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-Stop.png);
}

.nonoPar{
  background: no-repeat center/100% url(../imgs/WeDo-Icons-DesligarMotor.png);
}

.verso{
  background: no-repeat center/140% url(../imgs/robozinhoIP.jpg);
}